* {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
    background-color: #1b2838;
}

.datos {
    color: #ddd;
}

.nav-bar {
    display: flex;
    background-color: black !important;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1rem;
    width: 100%;
}

.nav-bar .botonera {
    display: inherit;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.nav-bar .botonera a {
    background-color: rgba(255, 255, 255, 0) !important;
    border: none;
    color: white;
    font-size: 1.1rem;
}

.nav-bar .botonera a:hover {
    color: #acd550;
}

.logo {
    width: 4rem;
}

.buttonTitulo {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

.buttonTitulo {
    --border-right: 6px;
    --text-stroke-color: white;
    --animation-color: #37FF8B;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: width 0.5s ease, filter 0.5s ease;
    -webkit-text-stroke: 1px var(--animation-color);
}

.buttonTitulo:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color));
    transition: width 0.5s ease, filter 0.5s ease;
}

.barra-divisora {
    height: 4rem;
    background-color: #66c0f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-titulo {
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

.productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 20px;
}

.card {
    width: 90%;
    aspect-ratio: 1 / 0.7;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.card .image-box {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
    border-radius: inherit;
    transition: 0.5s ease-in-out;
}

.card:hover img {
    filter: grayscale(1) brightness(0.4);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
}

.card:hover .content {
    opacity: 1;
}

.content h2,
.content p,
.btn-agregar-carrito {
    margin: 10px 0;
}

p{
    font-size: 12px;
}

.btn-editar {
    background-color: #66c0f4;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    border-radius: 5px;

}

.btn-editar:hover {
    background-color: #acd550;
    transition: 0.3s ease-in-out;
}

.btn-eliminar {
    background-color: #66c0f4;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    border-radius: 5px;

}

.btn-eliminar:hover {
    background-color: #680404;
    transition: 0.3s ease-in-out;
}

button.d-flex {
    background: #66c0f4;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

button.d-flex:hover{
    background-color: #6c2eaf;
    transition: 0.3s ease-in-out;
}

button.d-flex i {
    color: floralwhite;  
}

button.d-flex span {
    color: floralwhite; 
}  

.card::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 2px solid white;
    border-radius: inherit;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.card:hover::after {
    opacity: 1;
    inset: 20px;
}


@media screen and (max-width: 550px) {
    .sub-titulo {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    .nav-bar {
        flex-direction: column;
        position: relative;
        background-color: #000000 !important;
    }

    .nav-bar .botonera {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {
    .productos {
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    .productos {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .card {
        width: 100%;
        aspect-ratio: auto;
    }

    .btn-editar {
        width: 70%; 
        font-size: 0.5rem;
    }

    .btn-eliminar {
        width: 70%; 
        margin-top: 3px;
        font-size: 0.5rem;
    }

    .content h2 {
        font-size: 0.8rem; 
    }

    .content p {
        font-size: 0.5rem;
    }
}